.header{
	height: 81px;
	background: #444 url('../img/header-bg.png') 0 0 repeat-x;
}

.wrapper{
	width:962px;
	margin:0 auto;
}

.logo{
	float:left;
	padding-top: 12px;
}
.menu{
	float: right;
}

.menu li{
	float: left;
	margin-left: 25px;
}
.menu a{
	font-size: 18px;
	color: #fff;
	font-family: Arial,Tahoma, sans-serif;
	line-height: 66px;
	text-decoration: none;
}